# SVM on internet advertising data 

#from http://archive.ics.uci.edu/ml/machine-learning-databases/internet_ads/
#Based on a pluralsight tutorialabs

In [15]:
import numpy as np
import pandas as pd

datafile = "./ad.data"
data = pd.read_csv(datafile, sep=',', header=None, low_memory=False)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.